@define-mixin forTabletPortrait {
	@media (min-width: 600px) {
		@mixin-content;
	}
}

@define-mixin forTabletLandscape {
	@media (min-width: 900px) {
		@mixin-content;
	}
}

@define-mixin forDesktop {
	@media (min-width: 1200px) {
		@mixin-content;
	}
}

@define-mixin forLargeDesktop {
	@media (min-width: 1800px) {
		@mixin-content;
	}
}

@define-mixin clearfix {
	&::after {
		content:"";
		clear: both;
		display: table;
	}
}