.animated-logo__logo {
		position: absolute;
		z-index: 3;
		top: 20%;
		left: 37.5%;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
}
		

.animated-logo__red-logo {
		opacity: 0;
		width: 25%;
			min-width: 125px;
			max-width: 500px;
			-webkit-animation: fade 3s infinite linear;
			        animation: fade 3s infinite linear;
			-webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    				animation-iteration-count: 1;

    	@mixin forTabletPortrait {
    		margin-top: -4rem;
    		min-width: 250px;
    		max-width: 550px;
    	}
}

.animated-logo__fill {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;

}

  
.animated-logo__backfill {
	
	-webkit-animation: backfade 25s infinite linear;
			        animation: backfade 25s infinite linear;
			-webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    				animation-iteration-count: 1;	
    				animation-fill-mode: forwards;	
		}

.animated-logo__video {
	position: absolute;
	z-index: 2;
	top: 2rem;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;

	@mixin forTabletLandscape {
		top: 0rem;
	}

	@mixin forDesktop {
		top: -4rem;
		margin-left: auto;
		margin-right: auto;
	}

}

.animated-logo__video-intro {
	margin: auto;
	width: 100%;
	opacity: 0;
	-webkit-animation: appear 22s infinite linear;
          animation: appear 22s infinite linear;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-delay: 1s;
              animation-delay: 1s;
}

@keyframes fade {
		0% {
			opacity: 0;
			-webkit-transform: scale(0.5);
			        transform: scale(0.5);
		}
		60% {
			opacity: 1;
			-webkit-transform: scale(1);
			        transform: scale(1);
		}
		75% {
			opacity: 1;
			-webkit-transform: scale(1);
					transform: scale(1);
		}
  		100% {
    		opacity: 0;
  		}
	}

@keyframes backfade {
	0% {
		opacity: 1;

		-webkit-transform: scale(1);
			transform: scale(1);
	}
	90% {
		opacity: 1;

		-webkit-transform: scale(1);
			transform: scale(1);
	}
	95% {
		opacity: 0;
		-webkit-transform: scale(1);
			transform: scale(1);
	}
	100% {
		opacity: 0;

		-webkit-transform: scale(0.1);
			transform: scale(0.1);
		}
}

@keyframes appear {
  0% {
  	z-index: 6;
    opacity: 0;
    -webkit-transform: scale(1);
			transform: scale(1);
  }
  15% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  99% {
  	z-index: 6;
    opacity: 1;
    -webkit-transform: scale(1);
			transform: scale(1);
  }
  100% {
  	z-index: 2;
    opacity: 0;
    -webkit-transform: scale(0.1);
			transform: scale(0.1);
  }
}