.footer {
	background-color: $deepGrey;
	margin-top: 12rem;
	position: absolute;
	width: 100%;

	&__tiny-txt {
		color: $lightGrey;
		font-size: .65rem;
		font-weight: 300;
		text-align: center;
		margin-bottom: 1.5rem;
		margin-top: 1.6rem;
	}
}