.landing-text {
	color: $darkGrey;
	position: relative;
	transform: translateY(5rem);
	margin-bottom: 12rem;
	filter: drop-shadow(1px 0px 1px $lightGrey);


	@mixin forTabletPortrait {
		margin-bottom: 17rem;
	}

	@mixin forTabletLandscape {
		margin-bottom: 19rem;
	}

	@mixin forDesktop {
		margin-right: 1rem;
		margin-left: 1rem;
		margin-bottom: 20rem;
	}


	&__title {
		font-weight: 300;
		font-size: 1.05rem;
		padding-top: 42px;
		margin-bottom: 7rem;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0px;
		word-spacing: 3px;

		@mixin forTabletPortrait {
			font-size: 1.4rem;
			margin-top: 2.55rem;
			margin-bottom: 20rem;
			margin-left: 0rem;
			text-align: center;
		}

		@mixin forTabletLandscape {
			margin-top: 3rem;
			font-size: 1.8rem;
			margin-left: 0rem;
		}

		@mixin forDesktop {
			font-size: 2rem;
			margin-top: 1rem;
			margin-left: 0rem;
		}

		&--center {
			font-weight: 300;
			text-align: center;
			margin-top: 3.4rem;
			margin-bottom: 1rem;

			@mixin forTabletLandscape {
				margin-top: 6.4rem;
			}
		}
	}

	&__container {
		width: 40%;
		clear: both;
		margin-left: 30%;
		margin-right: 30%;

		@mixin forTabletLandscape {
			width: 33.3%;
			margin-right: 33.3%;
			margin-left: 33.3%;
		}

		@mixin forDesktop {
			width: 20%;
			margin-left: 40%;
			margin-right: 40%;
		}
	}

	&__logo {
		max-width: 100%;
		padding: 0px;

		@mixin forTabletPortrait {
			margin-top: 3.6rem;
			margin-bottom: .5rem;
			max-width: 100%;
		}

		@mixin forTabletLandscape {
			max-width: 100%;
			margin-top: 42px;
			margin-bottom: 1rem;
		}

		@mixin forDesktop {
			max-width: 100%;
			margin-top: 20px;
			
		}

		&--index {
			display: none;
		}
	}

	a {
		color: $darkGrey;
		font-size: .8rem;

		@mixin forTabletPortrait {
			font-size: 1rem;
		}

		@mixin forTabletLandscape {
			font-size: 1.1rem;
		}

		@mixin forDesktop {
			font-size: 1.2rem;
		}
	}
}

