.landing-text {
	color: $darkGrey;
	position: relative;
	transform: translateY(5rem);
	text-align: left;
	margin-right: .5rem;
	margin-left: .5rem;
	margin-bottom: 12rem;
	filter: drop-shadow(1px 0px 1px $lightGrey);


	@mixin forTabletPortrait {
		margin-bottom: 17rem;
	}

	@mixin forTabletLandscape {
		margin-bottom: 19rem;
	}

	@mixin forDesktop {
		margin-right: 1rem;
		margin-left: 1rem;
		margin-bottom: 20rem;
	}


	&__title {
		font-weight: 300;
		font-size: 1.6rem;
		padding-top: 42px;
		margin-bottom: 3rem;
		text-align: center;

		@mixin forTabletPortrait {
			font-size: 2rem;
			margin-top: 2.55rem;
			margin-bottom: 20rem;
			margin-left: 0rem;
			text-align: center;
		}

		@mixin forTabletLandscape {
			margin-top: 3.65rem;
			font-size: 2.7rem;
			margin-left: 0rem;
		}

		@mixin forDesktop {
			font-size: 3.2rem;
			margin-top: 6rem;
			margin-left: 4rem;
		}

		&--center {
			font-weight: 300;
			text-align: center;
			margin-top: 3.4rem;
			margin-bottom: 1rem;

			@mixin forTabletLandscape {
				margin-top: 6.4rem;
			}
		}
	}

	&__subtitle {
		font-size: .85rem;
		font-weight: 300;
		margin-bottom: 3rem;

		@mixin forTabletPortrait {
			font-size: 1.2rem;
			margin-bottom: 20rem;
		}

		@mixin forTabletLandscape {
			font-size: 1.89rem;
		}

		@mixin forDesktop {
			font-size: 2.4rem;
		}
	}

	&__logo {
		float: right;
		max-height: 200px;
		margin: 0;
		margin-bottom: 3rem;

		@mixin forTabletPortrait {
			margin-top: 3.6rem;
			max-height: 200px;
			margin-bottom: 1rem;
		}

		@mixin forTabletLandscape {
			max-height: 200px;
			margin-top: 42px;
			margin-bottom: 1rem;
		}

		@mixin forDesktop {
			margin-top: 75px;
		}

		&--index {
			display: none;
		}
	}

	a {
		color: $darkGrey;
		font-size: .8rem;

		@mixin forTabletPortrait {
			font-size: 1rem;
		}

		@mixin forTabletLandscape {
			font-size: 1.1rem;
		}

		@mixin forDesktop {
			font-size: 1.2rem;
		}
	}
}

