.landing-text {
	color: $darkGrey;
	position: relative;
	transform: translateY(5rem);
	text-align: right;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 12rem;
	filter: drop-shadow(1px 0px 1px $lightGrey);

	@mixin forTabletPortrait {
		margin-bottom: 17rem;
	}

	@mixin forTabletLandscape {
		margin-bottom: 19rem;
	}

	@mixin forDesktop {
		margin-right: 4rem;
		margin-bottom: 20rem;
	}


	&__title {
		font-weight: 300;
		font-size: 2.6rem;
		padding-top: 42px;

		@mixin forTabletPortrait {
			font-size: 3.6rem;
			margin-top: 5rem;
		}

		@mixin forTabletLandscape {
			font-size: 4rem;
		}

		@mixin forDesktop {
			font-size: 5rem;
			margin-top: 7rem;
		}
	}

	&__subtitle {
		font-size: 1.25rem;
		font-weight: 300;
		margin-bottom: 3rem;

		@mixin forTabletPortrait {
			font-size: 1.789rem;
		}

		@mixin forTabletLandscape {
			font-size: 1.89rem;
		}

		@mixin forDesktop {
			font-size: 2.4rem;
		}
	}

	a {
		color: $darkGrey;
		font-size: .8rem;

		@mixin forTabletPortrait {
			font-size: 1rem;
		}

		@mixin forTabletLandscape {
			font-size: 1.1rem;
		}

		@mixin forDesktop {
			font-size: 1.2rem;
		}
	}
}

