.press {
	background-color: $wrRed;
	margin-bottom: 30px;

	a {
		color: $darkGrey;
		font-weight: 300;
	}

	blockquote {
		color: #ffffff;
		font-size: 1rem;
		font-weight: 200;
		font-style: italic;
		margin-bottom: 12px;
	}

	&__block {
		padding-top: 16px;

		&--light {
			padding-top: 16px;
			background-color: #fff;
		}

		&--icons {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}
	}

	&__block-source {
		color: #ffffff;
		float: right;
		text-align: right;
		padding-right: 36px;
		padding-bottom: 20px;
		font-size: .85rem;
	}

	&__block-name {
		line-height: 0px;
	}

	&__icon {
		width: 100%;
		
	}

	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-left: -12px;
		margin-right: 12px;
		margin-bottom: 30px;

		@mixin forTabletPortrait {
			flex-wrap: wrap;
		}

		@mixin forTabletLandscape {
			flex-wrap: wrap;
		}

		@mixin forDesktop {
			margin-right: 12px;
			padding-right: 12px;
		}
	}

	li {
		list-style: none;
		float: left;

	}

	li > img {
		max-width: 90px;
		padding: 12px;

		@mixin forTabletLandscape {
			padding: 10px;
			margin: 0 7px;
		}

		@mixin forDesktop {
			max-width: 125px;
			padding: 20px;
			margin: 0 8px;
		}

	}
}