.primary-nav {
	display: none;

	@mixin forTabletPortrait {
		display: block;

		&--pull-right {
			float: right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		float: left;
		padding-right: 20px;
	}

	li:last-child {
		padding-right: 8px;
	}

	a {
		color: $borderGrey;
		text-decoration: none;
		font-weight: 300;
		font-size: .8rem;
	}
	
}