.primary-nav {
	display: none;


	@mixin forTabletPortrait {
		display: block;

		&--pull-right {
			float: right;
		}
	}


	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		text-align: center;
		list-style: none;
		
		padding-top: 15px;
		padding-bottom: 15px;
		position: relative;
		display: block;

		@mixin forTabletPortrait {
			float: left;
			padding-right: 20px;
			padding-top: 0;
			padding-bottom: 15px;
			@mixin clearfix;
		}
	}

	li:last-child {
		padding-bottom: 0px;

		@mixin forTabletPortrait {
			padding-right: 8px;
		}
	}

	&__current{
		color: $wrRed;
	}

	a {
		text-decoration: none;
		font-weight: 300;
		font-size: .8rem;
	}

	a:hover {
		color: $wrRed;
	}



	&--is-visible {
		display: block;
		position: absolute;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 43%;
		padding-right: 43%;
		margin-left: -26px;
		z-index: 100;
		background-color: #fff;
	}
	
}