.project-item {
	color: #ffffff;
	padding-left: 0px;
	background-color: $xlightGrey;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 100%;

	&__desc {
		display: none;

		&--is-visible {
			display: block;
		}
	}

	

	&__desc--close {

	}

	&__item-title {
		color: #ffffff;
		font-weight: 200;
		font-size: 1.4rem;
		text-align: center;
		background-color: $wrRed;
		padding-top: 14px;
		padding-bottom: 12px;
		margin-top: -4px;
		
		@mixin forTabletPortrait {
			text-align: left;
			padding-left: 1.4rem;
		}

		@mixin forTabletLandscape {
			font-size: 1.4rem;
		}

		@mixin forDesktop {
			font-size: 1.4rem;
			padding-top: 16px;
		}
	}

	&__icon {
		float: right;
		margin-top: 1rem;
		margin-right: 10px;
		padding-bottom: 20px;
		max-height: 100px;
		opacity: .5;

		@mixin forTabletLandscape {
			max-height: 75px;
		}

		&-wgh {
			margin-bottom: 20px;
		}

		&-ph {
			margin-bottom: 20px;

			@mixin forTabletLandscape {
				transform: translateY(46%);
			}
			@mixin forDesktop {
				transform: translateY(42%);
			}
		}

		&-abh {
			margin-bottom: 20px;
			@mixin forTabletLandscape {
				max-height: 100px;
				transform: translateY(-4%);
			}

			@mixin forDesktop {
				padding-top: 30px;
			}
		}

		&-tw {
			margin-bottom: 20px;

			@mixin forTabletLandscape {
				margin-top: 75px;
			}

		}

		&--pm {
			margin-bottom: 20px;

			@mixin forTabletLandscape {
				margin-top: 34px;
			}
		}

		&--wm {
			margin-bottom: 20px;

			@mixin forTabletLandscape {
				margin-top: 75px;
			}
		}

		&--cs {
			margin-bottom: 20px;

			@mixin forDesktop {
				margin-top: 5.3rem;
			}
		}

		&--ted {
			margin-bottom: 20px;

			@mixin forTabletLandscape {
				margin-top: 3rem;
			}
		}

	}

	&__item-desc {
		padding-left: 14px;
		padding-right: 14px;
		margin-top: -1rem;
		color: $darkGrey;
	}

	&__item-desc--sub {
		padding-top: 5rem;	 

		&--abh {
			padding-top: 3.95rem;

			@mixin forTabletLandscape {
				padding-top: 4.7rem;
			}

			@mixin forDesktop {
				padding-top: 6rem;
			}
		}

		&--ph {
			padding-top: 2.78rem;

			@mixin forTabletLandscape {
				padding-top: 4.6rem;
			}
		}

		&--pm {
			padding-top: 4.55rem;

			@mixin forTabletLandscape {
				padding-top: 5.8rem;
			}

			@mixin forDesktop {
				padding-top: 6.2rem;
			}
		}

		&--wm {
			padding-top: 6.3rem;

			@mixin forTabletLandscape {
				padding-top: 8.5rem;
			}
		}

		&--cs {
			padding-top: 3rem;

			@mixin forTabletPortrait {
				padding-top: 4rem;
			}

			@mixin forDesktop {
				padding-top: 8.2rem;
			}
		}

		&--r3 {
			padding-bottom: 10px;

			@mixin forTabletLandscape {
				padding-top: 72px;
			}

			@mixin forDesktop {
				padding-top: 64px;
			}
		}
	}

	&--fourth {
		@mixin forDesktop {
			display: none;
		}
	}
}