.project-item {
	color: #ffffff;
	padding-left: 0px;
	background-color: $xlightGrey;
	margin-top: 20px;
	margin-bottom: 0px;
	width: 100%;

	&__title {
		display: inline-block;
		width: 100%;
	}

	&__desc {

	margin-top: 1.8rem;

		&--is-visible {
			display: block;
		}
	}

	&__item-title {
		color: #ffffff;
		font-weight: 200;
		font-size: 1.4rem;
		text-align: center;
		background-color: $wrRed;
		padding-top: 14px;
		padding-bottom: 12px;
		margin-top: -4px;
		
		@mixin forTabletPortrait {
			text-align: left;
			padding-left: 1.4rem;
		}

		@mixin forTabletLandscape {
			font-size: 1.4rem;
		}

		@mixin forDesktop {
			font-size: 1.4rem;
			padding-top: 16px;
		}
	}

	&__icon {
		float: right;
		margin-top: 1rem;
		margin-right: 12px;
		padding-bottom: 20px;
		max-height: 100px;
		opacity: .5;

		@mixin forTabletLandscape {
			max-height: 75px;
		}

		&-ph {
			max-height: 75px;
			margin-right: -10px;

			@mixin forTabletLandscape {
				margin-top: 32px;
			}
			@mixin forDesktop {
				margin-top: 2rem; 
			}
		}

		&-abh {
			margin-bottom: 0px;
			padding-top: 10px;
			@mixin forTabletLandscape {
				max-height: 100px;
				transform: translateY(-4%);
			}

			@mixin forDesktop {
				padding-top: 20px;
			}
		}

		&-tw {
			margin-bottom: 10px;
			padding-top: 10px;

			@mixin forTabletPortrait {
				margin-bottom: 10px;
				margin-top: 10px;
			}

			@mixin forTabletLandscape {
				margin-top: 75px;
			}

		}

		&--pm {
			margin-bottom: 10px;
			padding-top: 20px;

			@mixin forTabletLandscape {
				margin-top: 3.1rem;
			}
		}

		&--wm {
			margin-bottom: 10px;
			padding-top: 10px;

			@mixin forTabletLandscape {
				margin-top: 75px;
			}
		}

		&--cs {
			margin-bottom: 0.625rem;
			padding-top: 0.625rem;

			@mixin forDesktop {
				margin-top: 6.3rem;
			}
		}

		&--ted {
			margin-bottom: 20px;

			@mixin forTabletLandscape {
				margin-top: 3rem;
			}
		}

	}

	&__item-desc {
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 14px;
		padding-bottom: 20px;
		margin-top: -2rem;
		margin-bottom: 20px;
		color: $darkGrey;
	}





	&__item-desc--sub {
		padding-top: 4.85rem;

		&--ph {
			margin-top: -2.4rem;

			@mixin forTabletLandscape {
				margin-top: -1rem;
				}

			@mixin forDesktop {
				margin-top: -1.3rem;
			}
		}

		&--abh {
			margin-top: 1rem;
		}

		&--tw {
			margin-top: 1rem;

			@mixin forTabletLandscape {
				margin-top: 4.5rem;
			}
		}	

		&--pm {
			margin-top: 3.75rem;

			@mixin forTabletLandscape {
				margin-top: 4.5rem;
			}
		} 

		&--wm {
			margin-top: 30px;

			@mixin forTabletLandscape {
				margin-top: 5.5rem;
			}

			@mixin forDesktop {
				margin-top: 5.2rem;
			}
		}

		&--cs {
			margin-top: 40px;

			@mixin forDesktop {
				margin-top: 6.9rem;
			}
		}

		&--ted {
			margin-top: 10px;

			@mixin forTabletLandscape {
				margin-top: 2.5rem;
			}
		}
	}

	&--fourth {
		margin-bottom: 2rem;

		@mixin forTabletLandscape {
			margin-bottom: 0;
		}

		@mixin forDesktop {
			display: none;
		}
	}
}