.project-item {
	color: #ffffff;
	padding-left: 0px;
	background-color: $darkGrey;
	margin-top: 20px;
	margin-bottom: 30px;

	

	&__item-title {
		color: #ffffff;
		font-weight: 200;
		font-size: 2rem;
		text-align: center;
		background-color: ;
		padding-top: 24px;
		padding-bottom: 12px;
		margin-top: -3px;
		filter: drop-shadow(2px 1px 1px #000000);

		@mixin forTabletPortrait {
			text-align: left;
			padding-left: 12px;
		}
	}

	&__icon {
		float: right;
		margin-top: 1rem;
		margin-right: 10px;
		padding-bottom: 20px;
		max-height: 100px;

		&-wgh {
			transform: translateY(-19%);
		}

		&-ph {
			margin-bottom: 20px;

			@mixin forTabletLandscape {
				transform: translateY(46%);
			}
			@mixin forDesktop {
				transform: translateY(42%);
			}
		}

		&-abh {
			margin-bottom: 20px;

			@mixin forTabletLandscape {
				transform: translateY(-4%);
			}
			@mixin forDesktop {
				transform: translateY(24%);
			}
		}

		&--pm {
			margin-bottom: 20px;

			@mixin forTabletLandscape {
				margin-bottom: 21px;
			}
		}

		&--wm {
			margin-bottom: 20px;
		}

	}

	&__item-desc {
		padding-left: 10px;
		padding-right: 12px;
		margin-top: -1rem;
	}

	&__item-desc--sub {
		padding-top: 5rem;	 

		&--abh {
			padding-top: 3.95rem;

			@mixin forTabletLandscape {
				padding-top: 4.7rem;
			}

			@mixin forDesktop {
				padding-top: 6rem;
			}
		}

		&--ph {
			padding-top: 2.78rem;

			@mixin forTabletLandscape {
				padding-top: 5.2rem;
			}
		}

		&--pm {
			padding-top: 4.55rem;
		}

		&--wm {
			padding-top: 6.3rem;
		}
	}
}