.row {
	&--xsmall-3 {
		float: left;
		width: 25%;
	}
	&--xsmall-9 {
		float: left;
		width: 75%;
	}

	&--t-padding {
		padding-top: 120px;
	}
	
	@mixin clearfix;

	&--gutters {
		margin-right: -18px;

		@mixin forTabletLandscape {
			margin-right: -32px;
		}

		@mixin forDesktop {
			margin-right: -12px;
		}
	}

	&--gutters > div {
		padding-right: 18px;

		@mixin forTabletLandscape {
			padding-right: 32px;
		}

		@mixin forDesktop {
			padding-right: 12px;
		}
	}

	@mixin forTabletPortrait {
		&__small-3 {
			float: left;
			width: 25%;
		}

		&__small-3-landing {
			float: left;
			width: 100%;
		}

		&__small-4 {
			float: left;
			width: 33.3%;
		}

		&__small-9 {
			float: left;
			width: 100%;
		}

	}

	@mixin forTabletLandscape {
		&__medium-3 {
			float: left;
			width: 25%;
		}

		&__medium-3-landing {
			float: left;
			width: 100%;
		}

		&__medium-4 {
			float: left;
			width: 33.3%;
		}

		&__medium-6 {
			float: left;
			width: 50%;
		}

		&__medium-8 {
			float: left;
			width: 66.6%;
		}


		&__medium-12 {
			margin: auto;
			width: 100%;
		}

		&__medium-12--margins {
			width: 50%;
			margin-left: 25%;
			margin-right: 25%;
		}
	}

	@mixin forDesktop {
		&__large-4 {
			float: left;
			width: 33.3%;
		}

		&__large-6--margins {
			width: 50%;
			margin-left: 25%;
			margin-right: 25%;
		}

		&__large-12 {
			float: left;
			width: 100%;
		}
	}

	/* Begin Equal Height Rules */

	&--equal-height-at-medium {

		@mixin forTabletLandscape {
			display: flex;
			flex-wrap: wrap;
		}

		& > div {
			float: none;
			display: flex;
			
		}
	}



	/* Begin Press Gutter Rules*/

	&--gutters-press {
		margin-right: -36px;

		@mixin forDesktop {
			margin-right: -32px;
		}
	}

	&--gutters-press > div {
		padding-right: 36px;

		@mixin forDesktop {
			padding-right: 32px;
		}
	}
}