.section {
	margin-bottom: 10rem;

	&__icon-film {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		padding-right: 0px;
		padding-left: 0px;
		top: 20px;
		left: 10px;
		max-width: 80px;
		filter: drop-shadow(1px 1px 1px #000000);



		@mixin forTabletLandscape {
			top: 17px;
			max-width: 92px;
		}

		@mixin forDesktop {
			top: 28px;
			max-width: 120px;
		}
	}

	&__icon-exp {
		position: relative;
		margin-left: 1rem;
		margin-right: auto;
		padding-right: 12px;
		padding-left: 0px;
		top: 6px;
		max-width: 90px;
		filter: drop-shadow(1px 1px 1px #000000);



		@mixin forTabletLandscape {
			top: 12px;
			max-width: 92px;
		}

		@mixin forDesktop {
			top: 18px;
			max-width: 120px;
		}

	}

	&__more {
		float: right;
		margin-top: 1rem;
		margin-bottom: 3rem;
	}

	&__title {
		font-weight: 300;
		font-size: 2.4rem;
		margin-bottom: 6rem;
		filter: drop-shadow(5px 5px 5px #000000);




		@mixin forTabletLandscape {
			font-size: 2.6rem;
			margin-bottom: 4rem;
		}

		@mixin forDesktop {
			font-size: 3rem;
			margin-bottom: 3.2rem;
		}
	}

	&__small-heading {
		font-weight: 700;
		font-size: 1rem;

	}

	&__small-subheading {
		font-weight: 300;
		font-size: 1rem;
		margin-top: -14px;
	}

	&__small-paragraph {
		font-weight: 300;
		font-size: .75rem;
		line-height: 1rem;
		text-align: justify;

		&--b-margin {
			margin-bottom: 1.5rem;
		}
	}

	&__xsmall-paragraph {
		font-size: .5rem;
	}
}