.section {

	&__icon-film {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		padding-right: 8px;
		padding-left: 0px;
		top: 10px;
		left: -2px;
		max-width: 55px;

		@mixin forTabletPortrait {
			top: 12px;
			max-width: 65px;
		}

		@mixin forTabletLandscape {
			top: 17px;
			max-width: 92px;
		}

		@mixin forDesktop {
			top: 28px;
			max-width: 120px;
		}
	}

	&__icon-exp {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		padding-right: 12px;
		padding-left: 0px;
		top: 6px;
		max-width: 55px;

		@mixin forTabletPortrait {
			top: 8px;
			max-width: 70px;
		}

		@mixin forTabletLandscape {
			top: 16px;
			max-width: 92px;
		}

		@mixin forDesktop {
			top: 18px;
			max-width: 120px;
		}

	}

	&__more {
		float: right;
	}

	&__title {
		font-weight: 300;
		font-size: 1.6rem;
		margin-bottom: 2rem;


		@mixin forTabletPortrait {
			font-size: 2.2rem;
			margin-bottom: 2.6rem;
		}

		@mixin forTabletLandscape {
			font-size: 2.6rem;
			margin-bottom: 2.8rem;
		}

		@mixin forDesktop {
			font-size: 3rem;
			margin-bottom: 3.2rem;
		}
	}

	&__small-heading {
		font-weight: 700;
		font-size: 1rem;
	}

	&__small-subheading {
		font-weight: 300;
		font-size: 1rem;
		margin-top: -14px;
	}

	&__small-paragraph {
		font-weight: 300;
		font-size: .75rem;
		line-height: .9rem;
		text-align: justify;
	}
}