.section {
	border-top: 3rem solid $xlightGrey;
	margin-bottom: 10rem;
	z-index: 99;

	&__more {
		font-weight: 700;
		font-size: 1rem;
		margin-top: 2rem;
		margin-bottom: 3rem;

		@mixin forTabletLandscape {
			padding-left: 0;
			padding-right: 0;
			float: right;
			@mixin clearfix;
		}
	}

	&__more--press {
		transform: translateX(12.85rem);
		font-weight: 700;

		@mixin forTabletPortrait {
			transform: translateX(19.85rem);
		}

		@mixin forTabletLandscape {
			transform: translateX(410%);
			float: right;
		}

		@mixin forDesktop {
			transform: translateX(585%);
		}
	}

	&__title {
		color: $darkGrey;
		font-weight: 300;
		font-size: 2rem;
		margin-bottom: 3rem;
		margin-top: 6rem;
		filter: drop-shadow(1px 0px 1px $lightGrey);
		text-align: center;


		@mixin forTabletLandscape {
			font-size: 3rem;
			margin-bottom: 4rem;
		}

		@mixin forDesktop {
			font-size: 4rem;
			margin-bottom: 3.2rem;
		}

		&--film {
			text-align: center;

		}

		&--experiences {
			padding: 0;
			margin-bottom: 2rem;
			text-align: center;

			@mixin forTabletPortrait {
				padding: 0 0 0 0;
			}
		}

	}

	&__small-heading {
		font-weight: 300;
		font-size: 1rem;
		margin-bottom: 0;
		padding-top: 2px;

	}

	&__small-subheading {
		font-weight: 200;
		font-size: 1rem;
		margin-top: -14px;
	}

	&__small-paragraph {
		font-weight: 300;
		font-size: .75rem;
		line-height: 1rem;
		text-align: justify;


		&--b-margin {
			margin-bottom: 1.5rem;
		}

		&--center {
			text-align: center;
			font-weight: 300;

			@mixin forTabletLandscape {

			}
		}
	}

	&__xsmall-paragraph {
		font-weight: 300;
		font-size: .65rem;
		padding-top: 2rem;
		max-width: 250px;
		position: absolute;

		@mixin forTabletPortrait {
			max-width: 500px;
		}

		@mixin forTabletLandscape {
			max-width: 325px;
		}

		@mixin forDesktop {
			font-size: .75rem;
			max-width: 280px;
		}
	}
}