.site-header {
	position: absolute;
	width: 100%;
	z-index: 2;
	top: 0;
	background-color: $deepGrey;
	padding-top: 1.1rem;
	padding-bottom: 1rem;
	padding-left: 10px;
	filter: drop-shadow(2px 2px 5px #000000);

	&--p-top {
		padding-top: 2px;
		margin-left: -7px;
	}

	&--p-title {
		display: none;
	}

	&__menu-icon {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 18px;
		right: 18px;

		&::before {
			content: "";
			position: absolute;
			top: 2px;
			left: 0;
			width: 20px;
			height: 1px;
			background-color: $borderGrey;
			transform-origin: 0 50%;
			transition: transform .3s ease-out;
		}

		&__middle {
			position: absolute;
			top: 9px;
			left: 0;
			width: 20px;
			height: 1px;
			background-color: $borderGrey;
			transition: all .3s ease-out;
		}

		&::after {
			content: "";
			position: absolute;
			top: 16px;
			left: 0;
			width: 20px;
			height: 1px;
			background-color: $borderGrey;
			transform-origin: 20% 100%;
			transition: transform .3s ease-out;
		}

		@mixin forTabletPortrait {
			display: none;
		}
	}

	&__menu-icon--close-x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25);
			transition: .25s ease-out;
		}
	}
}