}
	.icon--AP-white {
		width: 165.2px;
		height: 191.13px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 46.26311765932309% 42.35033729045103%;
	}
}
	.icon--AmFilmshow-white {
		width: 204.87px;
		height: 143.94px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 46.909761004605144% 29.788268299965974%;
	}
}
	.icon--LAtimes-white_1 {
		width: 322.76px;
		height: 132.44px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 95.88014292856514% 69.6962885086251%;
	}
}
	.icon--TEDx-black {
		width: 377.27px;
		height: 66.48px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 97.84074156047312% 24.950634315237092%;
	}
}
	.icon--TsC-black {
		width: 102px;
		height: 58px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 97.55273788150808% 30.94606888512985%;
	}
}
	.icon--accolade-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 70.85784412788114% 92.61079545454545%;
	}
}
	.icon--acefest-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 43.99560551001437% 52.52982954545455%;
	}
}
	.icon--adobe-black {
		width: 638.77px;
		height: 152.01px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 65.89095053301888% 57.42673198722837%;
	}
}
	.icon--afi-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 94.4771255038415% 85.22443181818181%;
	}
}
	.icon--ali-black {
		width: 1584.17px;
		height: 857.92px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 0 0;
	}
}
	.icon--bbc-black {
		width: 311.36px;
		height: 181.47px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 27.45603373797426% 70.72256053586065%;
	}
}
	.icon--bff-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 11.809640687980188% 77.83806818181819%;
	}
}
	.icon--bustle-black {
		width: 253.96px;
		height: 78.09px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 82.61875053781947% 28.696396020245018%;
	}
}
	.icon--cannes-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 70.85784412788114% 77.83806818181819%;
	}
}
	.icon--charlotte-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 82.66748481586133% 77.83806818181819%;
	}
}
	.icon--cinemaeye-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 70.85784412788114% 85.22443181818181%;
	}
}
	.icon--cosmo-black {
		width: 470.46px;
		height: 87.48px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 61.57999486888445% 65.23197526323676%;
	}
}
	.icon--dailydot-black {
		width: 486.53px;
		height: 95.03px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 82.12378787938056% 61.49943495495004%;
	}
}
	.icon--docufest-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 80.79284535877923% 49.27556818181818%;
	}
}
	.icon--fox7-black {
		width: 320px;
		height: 90px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 81.63569592361367% 56.213019768234496%;
	}
}
	.icon--hammertonail-black {
		width: 155.4px;
		height: 154.47px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 48.23452001662281% 62.808543559398224%;
	}
}
	.icon--hollywoodreporter-black {
		width: 197.87px;
		height: 197.87px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 46.794346831252% 35.44989084012412%;
	}
}
	.icon--huffpost-black {
		width: 720.1px;
		height: 84.2px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 68.19794222738818% 28.75603782570243%;
	}
}
	.icon--huffpost-white {
		width: 434.51px;
		height: 434.51px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 99.98773236623488% 0;
	}
}
	.icon--illuminate-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 35.42892206394056% 85.22443181818181%;
	}
}
	.icon--inc-black {
		width: 177.5px;
		height: 61.29px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 77.5759902285814% 58.70604952897854%;
	}
}
	.icon--inc-white {
		width: 259.73px;
		height: 89.68px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 72.8262080214999% 68.26215273044521%;
	}
}
	.icon--indiefest-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 0 92.61079545454545%;
	}
}
	.icon--indiewire-black {
		width: 364.81px;
		height: 71.52px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 97.38554770199276% 36.60820733756028%;
	}
}
	.icon--indiewire-white {
		width: 364.81px;
		height: 71.52px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 97.38554770199276% 39.03057768384544%;
	}
}
	.icon--itsonus-black {
		width: 581.36px;
		height: 621.32px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 30.467493215904845% 35.70679407994407%;
	}
}
	.icon--jpl-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 27.557420478470306% 64.00248579545455%;
	}
}
	.icon--justice-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 39.3670611664505% 64.00248579545455%;
	}
}
	.icon--lakearrowhead-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 0 77.83806818181819%;
	}
}
	.icon--latimes-black {
		width: 322.76px;
		height: 132.44px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 95.88014292856514% 65.11606191813415%;
	}
}
	.icon--lemonde-black {
		width: 325.26px;
		height: 69.35px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 95.96834134243895% 61.378505068282195%;
	}
}
	.icon--longisland-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 35.42892206394056% 77.83806818181819%;
	}
}
	.icon--lowereastside-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 47.23856275192075% 77.83806818181819%;
	}
}
	.icon--maui-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 23.619281375960377% 77.83806818181819%;
	}
}
	.icon--maverick-black {
		width: 405.74px;
		height: 226.27px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 98.89696124007492% 18.288040661536318%;
	}
}
	.icon--meganmeier-black {
		width: 360.67px;
		height: 109.76px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 97.23523951191689% 41.99688426485121%;
	}
}
	.icon--mexico-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 94.4771255038415% 77.83806818181819%;
	}
}
	.icon--mogul-black {
		width: 237.28px;
		height: 75.84px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 73.23004433799524% 64.97442472593076%;
	}
}
	.icon--montreal-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 11.809640687980188% 85.22443181818181%;
	}
}
	.icon--movingimage-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 23.619281375960377% 85.22443181818181%;
	}
}
	.icon--mtvnews-black {
		width: 515.3px;
		height: 114.25px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 62.67238991968984% 61.905661998453475%;
	}
}
	.icon--napa-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 47.23856275192075% 85.22443181818181%;
	}
}
	.icon--newportbeach-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 59.048203439900945% 85.22443181818181%;
	}
}
	.icon--newyorktimes-white-square {
		width: 331.62px;
		height: 265.29px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 96.19345130523939% 51.250765756458634%;
	}
}
	.icon--nyintl-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 82.66748481586133% 85.22443181818181%;
	}
}
	.icon--pelvicpain-black {
		width: 413.59px;
		height: 77.14px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 99.19221422296258% 14.744847057545998%;
	}
}
	.icon--people-black {
		width: 325.35px;
		height: 134.37px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 95.97151951134252% 58.10951575115153%;
	}
}
	.icon--plannedparenthood-black {
		width: 218.12px;
		height: 68.6px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 84.28924414488402% 31.45327197672058%;
	}
}
	.icon--rhodeisland-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 23.619281375960377% 92.61079545454545%;
	}
}
	.icon--riff-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 35.42892206394056% 92.61079545454545%;
	}
}
	.icon--rome-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 47.23856275192075% 92.61079545454545%;
	}
}
	.icon--sedona-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 59.048203439900945% 92.61079545454545%;
	}
}
	.icon--settlementhome-black {
		width: 215.9px;
		height: 163.5px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 84.22305542782355% 34.894948435588184%;
	}
}
	.icon--spiritquest-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 82.66748481586133% 92.61079545454545%;
	}
}
	.icon--sundance-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 94.4771255038415% 92.61079545454545%;
	}
}
	.icon--sunvalley-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 0 99.9971590909091%;
	}
}
	.icon--sxsw-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 11.809640687980188% 99.9971590909091%;
	}
}
	.icon--telaviv-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 23.619281375960377% 99.9971590909091%;
	}
}
	.icon--thehollywoodreporter-white {
		width: 344.75px;
		height: 80.21px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 96.66153988696377% 45.30384300510566%;
	}
}
	.icon--tiff-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 11.809640687980188% 92.61079545454545%;
	}
}
	.icon--traverse-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 0 85.22443181818181%;
	}
}
	.icon--tupelo-laurel-red {
		width: 321.41px;
		height: 208px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 59.048203439900945% 77.83806818181819%;
	}
}
	.icon--usatoday-black {
		width: 375.07px;
		height: 66.41px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 97.76006117102024% 27.19781984656426%;
	}
}
	.icon--variety-black {
		width: 442.78px;
		height: 125.66px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 60.92446023797986% 69.10955926495856%;
	}
}
	.icon--washingtonpost-black {
		width: 447.38px;
		height: 323.07px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 28.894830522187377% 54.767802201463944%;
	}
}
	.icon--webby-red {
		width: 207.74px;
		height: 209px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 83.98065785853854% 41.26714031971581%;
	}
}
	.icon--white-bkg-md {
		width: 1024px;
		height: 768px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 78.46310054482417% 0;
	}
}
	.icon--white-bkg-sm {
		width: 750px;
		height: 1334px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 0 50.76449704142012%;
	}
}
	.icon--wr-logotype {
		width: 903.21px;
		height: 77.37px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 74.03390052294851% 26.06367273800918%;
	}
}
	.icon--wr-symbol-red {
		width: 182.22px;
		height: 458.03px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 76.86190479519571% 36.226845988066884%;
	}
}
	.icon--wr-vert-color {
		width: 614.68px;
		height: 719.72px;
		background-image: url('/temp/sprite/csssvg/sprite.css-11aa850e.svg');
		background-position: 65.23728338933913% 40.341017584668535%;
	}
