	.symbol--AP-white {
		width: 43px;
		height: 49.75px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 3.6515837104072397% 96.35449814126395%;
	}
	.symbol--AmFilmshow-white {
		width: 99.85px;
		height: 70.11px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 15.620940403177807% 83.32821559525314%;
	}
	.symbol--LAtimes-white_1 {
		width: 100.13px;
		height: 41.08px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 13.306278372768356% 78.45223442529823%;
	}
	.symbol--TEDx-black {
		width: 96.6px;
		height: 17.02px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 90.14002273431848% 62.01122533518477%;
	}
	.symbol--TsC-black {
		width: 96.68px;
		height: 54.97px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 0 93.37482025978055%;
	}
	.symbol--accolade-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 40.80511069363862% 65.12327119663259%;
	}
	.symbol--acefest-laurel-red {
		width: 104.44px;
		height: 67.6px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 18.768806159081947% 75.62823133341348%;
	}
	.symbol--adobe-black {
		width: 99.41px;
		height: 23.66px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 34.45583388095767% 75.46885798962128%;
	}
	.symbol--afi-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 29.71239374344816% 69.27239927841251%;
	}
	.symbol--ali-black {
		width: 83.1px;
		height: 45px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 99.64338857817226% 64.23487544483986%;
	}
	.symbol--bbc-black {
		width: 99.49px;
		height: 58px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 5.174617466403796% 88.76210400478183%;
	}
	.symbol--bff-laurel-red {
		width: 105.28px;
		height: 68.14px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 29.886023916292977% 65.12875407430572%;
	}
	.symbol--bustle-black {
		width: 97.6px;
		height: 30px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 31.0132340777502% 81.36331569664902%;
	}
	.symbol--cannes-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 57.16161375029839% 65.12327119663259%;
	}
	.symbol--charlotte-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 62.61378143585164% 65.12327119663259%;
	}
	.symbol--cinemaeye-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 68.0659491214049% 65.12327119663259%;
	}
	.symbol--cosmo-black {
		width: 100.95px;
		height: 18.79px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 74.77797053416535% 62.07532954485722%;
	}
	.symbol--dailydot-black {
		width: 99.97px;
		height: 19.52px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 34.349880695434344% 71.28333372285975%;
	}
	.symbol--docufest-laurel-red {
		width: 104.95px;
		height: 67.93px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 95.1308995615059% 69.26948354549117%;
	}
	.symbol--fox7-black {
		width: 99.56px;
		height: 28px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 29.30647264598124% 75.66118614210217%;
	}
	.symbol--hammertonail-black {
		width: 100.61px;
		height: 100px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 5.229394374000072% 84.85530349478847%;
	}
	.symbol--hollywoodreporter-black {
		width: 101px;
		height: 101px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 0 84.90736196319018%;
	}
	.symbol--huffpost-black {
		width: 94.07px;
		height: 11px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 84.75073919078604% 60.80581395348836%;
	}
	.symbol--huffpost-white {
		width: 77.4px;
		height: 48.76px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 99.15941880691699% 68.48012174243866%;
	}
	.symbol--illuminate-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 35.16456142900142% 69.27239927841251%;
	}
	.symbol--inc-black {
		width: 98.45px;
		height: 34px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 10.317292027617595% 87.50677666470241%;
	}
	.symbol--inc-white {
		width: 98.28px;
		height: 33.95px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 15.407608133545704% 87.50419846203707%;
	}
	.symbol--indiefest-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 51.521064485661185% 69.27239927841251%;
	}
	.symbol--indiewire-black {
		width: 100px;
		height: 19.6px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 29.17443064182195% 71.28666588757741%;
	}
	.symbol--indiewire-white {
		width: 99.72px;
		height: 19.55px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 29.31510961144347% 73.50492272634315%;
	}
	.symbol--itsonus-black {
		width: 52px;
		height: 55.57px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 0 99.97194750004476%;
	}
	.symbol--jpl-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 73.32973522787421% 69.27239927841251%;
	}
	.symbol--justice-laurel-red {
		width: 105.19px;
		height: 68.08px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 35.34858133391461% 65.12640415654391%;
	}
	.symbol--lakearrowhead-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 84.23407059898074% 69.27239927841251%;
	}
	.symbol--latimes-black {
		width: 99.93px;
		height: 41px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 18.487425403841478% 78.44852071005917%;
	}
	.symbol--lemonde-black {
		width: 100.06px;
		height: 21.34px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 23.996086834994873% 71.35921762221727%;
	}
	.symbol--longisland-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 67.87756754232096% 69.27239927841251%;
	}
	.symbol--lowereastside-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 46.257278379191874% 65.12327119663259%;
	}
	.symbol--maui-laurel-red {
		width: 104.72px;
		height: 67.78px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 13.33796853596779% 75.6364161085124%;
	}
	.symbol--maverick-black {
		width: 62.76px;
		height: 35px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 4.90950823668014% 92.27535377358491%;
	}
	.symbol--meganmeier-black {
		width: 100.23px;
		height: 30.51px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 24.13434311538123% 73.97867673435304%;
	}
	.symbol--mexico-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 62.42539985676771% 69.27239927841251%;
	}
	.symbol--mogul-black {
		width: 100.11px;
		height: 32px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 24.13284400250532% 75.8393172454385%;
	}
	.symbol--montreal-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 56.97323217121445% 69.27239927841251%;
	}
	.symbol--movingimage-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 46.068896800107936% 69.27239927841251%;
	}
	.symbol--mtvnews-black {
		width: 99.23px;
		height: 22px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 39.596020219684696% 75.3955529549444%;
	}
	.symbol--newportbeach-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 40.61672911455467% 69.27239927841251%;
	}
	.symbol--newyorktimes-white-square {
		width: 100px;
		height: 80px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 0 89.94488188976378%;
	}
	.symbol--nyintl-laurel-red {
		width: 106.61px;
		height: 69px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 18.88812136761903% 65.16245487364621%;
	}
	.symbol--pelvicpain-black {
		width: 100.07px;
		height: 18.66px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 79.96925354438308% 62.07061681675368%;
	}
	.symbol--people-black {
		width: 99.69px;
		height: 41.21px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 20.78703727662745% 81.90307671367448%;
	}
	.symbol--plannedparenthood-black {
		width: 98.56px;
		height: 31px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 25.930983118172787% 81.41117647058823%;
	}
	.symbol--rhodeisland-laurel-red {
		width: 105.54px;
		height: 68.31px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 24.411615086739406% 65.13541309564621%;
	}
	.symbol--riff-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 18.80805837234164% 69.27239927841251%;
	}
	.symbol--rome-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 95.32678754917119% 65.12327119663259%;
	}
	.symbol--sedona-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 89.87461986361794% 65.12327119663259%;
	}
	.symbol--settlementhome-black {
		width: 72.63px;
		height: 55px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 0 96.6563245823389%;
	}
	.symbol--spiritquest-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 84.42245217806467% 65.12327119663259%;
	}
	.symbol--sundance-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 78.97028449251142% 65.12327119663259%;
	}
	.symbol--sunvalley-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 73.51811680695816% 65.12327119663259%;
	}
	.symbol--sxsw-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 51.70944606474513% 65.12327119663259%;
	}
	.symbol--telaviv-laurel-red {
		width: 106.61px;
		height: 69px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 13.351061343416138% 65.16245487364621%;
	}
	.symbol--thehollywoodreporter-white {
		width: 98.89px;
		height: 23px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 23.646869552172408% 77.62177985948477%;
	}
	.symbol--tiff-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 78.78190291342747% 69.27239927841251%;
	}
	.symbol--traverse-laurel-red {
		width: 105.02px;
		height: 67.97px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 89.68437658927438% 69.2711496485331%;
	}
	.symbol--tupelo-laurel-red {
		width: 105.06px;
		height: 68px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 24.2602260578949% 69.27239927841251%;
	}
	.symbol--usatoday-black {
		width: 99.55px;
		height: 17.63px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 85.12613521695258% 62.03330278923991%;
	}
	.symbol--variety-black {
		width: 101.17px;
		height: 28.71px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 18.77016619795632% 71.66816464879662%;
	}
	.symbol--washingtonpost-black {
		width: 100.21px;
		height: 72.36px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 10.436434602104784% 83.44125307480827%;
	}
	.symbol--webby-red {
		width: 105.36px;
		height: 106px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 13.34239920275713% 70.8923076923077%;
	}
	.symbol--white-bkg-md {
		width: 1444px;
		height: 1083px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 0 0;
	}
	.symbol--white-bkg-sm {
		width: 588px;
		height: 1045.86px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 100% 0;
	}
	.symbol--wr-logotype {
		width: 198.41px;
		height: 17px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 78.75261099809663% 61.01866977829638%;
	}
	.symbol--wr-symbol-red {
		width: 15.25px;
		height: 38.34px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 99.94149002107348% 68.05855871823047%;
	}
	.symbol--wr-vert-color {
		width: 257.0px;
		height: 300.49999px;
		background-image: url('/temp/sprite/css/svg/sprite.css-34fff0bd.svg');
		background-position: 0 75.73373612771938%;
	}
