.wrapper {

	overflow: hidden;

	padding-left: 8px;
	padding-right: 8px;
	margin-right: auto;
	margin-left: auto;
	max-width: 540px;

	@mixin forTabletPortrait {
		max-width: 700px;

	}

	@mixin forTabletLandscape {
		max-width: 920px
	}

	@mixin forDesktop {
		max-width: 1200px;
	}

	&__narrow {
		overflow: hidden;

		@mixin forTabletPortrait {
			max-width: 700px;
			margin-right: auto;
			margin-left: auto;
		}

		@mixin forTabletLandscape {
			max-width: 900px;
			margin-right: auto;
			margin-left: auto;
		}

		@mixin forDesktop {
			max-width: 1050px;
			margin-right: auto;
			margin-left: auto;
		}
	}

	&__small--full-width {
		margin-left: -3rem;
		margin-right: -3rem;
		@mixin clearfix;

		@mixin forTabletPortrait {
			margin-left: auto;
			margin-right: auto;
		}
	}

}